
<section id="section-contact" class="section">
  <div class="container">
    <div class="heading">
      <h1 class="title">Contact</h1>
      <h2 class="subtite">Let's get together and do things</h2>
    </div>
    <nav class="navbar">
      <div class="navbar-left"><a href="mailto:christopher.p.brown@gmail.com?subject=awesome email from an awesome somebody!" class="fa-stack fa-lg navbar-item"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></a><a href="https://github.com/chrisman" class="fa-stack fa-lg navbar-item"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-github fa-stack-1x fa-inverse"></i></a><a href="https://www.linkedin.com/in/chrismanbrown" class="fa-stack fa-lg navbar-item"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></a><a href="http://www.twitter.com/chrismanbrown" class="fa-stack fa-lg navbar-item"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></a><a href="https://www.instagram.com/chrisbrownaton/" class="fa-stack fa-lg navbar-item"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></a>
      </div>
    </nav>
  </div>
</section>