<section id="section-contact" class="section is-fullheight"><div class="container"><div class="columns"><div class="column"><div class="heading"><h1 class="title">Contact</h1><h2 class="subtite">Let's get together and do things</h2></div><div class="content"><a href="mailto:christopher.p.brown@gmail.com?subject=awesome email from an awesome somebody!"><i class="fa fa-envelope">&nbsp;</i></a><a href="https://github.com/chrisman"><i class="fa fa-github">&nbsp;</i></a><a href="https://www.linkedin.com/in/chrismanbrown"><i class="fa fa-linkedin">&nbsp;</i></a><a href="http://www.twitter.com/chrismanbrown"><i class="fa fa-twitter">&nbsp;</i></a><a href="https://www.instagram.com/chrisbrownaton/"><i class="fa fa-instagram">&nbsp;</i></a></div></div></div></div></section><!--.container
  .columns
    .column
      form(method='POST' action='/#/')
        label.label Name
        input.input(type='text' placeholder='John Handy')

        label.label Subject
        span.select
          select
            option Let's talk code
            option Let's ride bikes

        label.label Message
        textarea.textarea(placeholder='Hey buddy...')

        button.button.is-info Submit
        button.button.is-danger Cancel-->