
<section id="section-projects" class="section">
  <div class="container">
    <div class="heading">
      <h1 class="title">Projects</h1>
      <h1 class="subtitle">What I've been working on</h1>
    </div>
    <div class="columns">
      <div class="column"><span>Restrict to keyword</span>
        <select ng-model="search_by.categories">
          <option></option>
          <option ng-repeat="k in keywords">{{ k }}</option>
        </select><span>Search in description</span>
        <input type="text" ng-model="search_by.description"/><span>Sort by date
          <select ng-model="freshness">
            <option></option>
            <option value="-date">Newest</option>
            <option value="date">Oldest</option>
          </select></span>
      </div>
    </div>
    <div class="columns">
      <div ng-repeat="project in portfolio | filter:search_by | orderBy:freshness" class="column">
        <div class="card-content">
          <div class="media-left">
            <p class="title">{{ project.title }}</p>
          </div>
        </div>
        <div class="card-image">
          <figure class="image is-4by3"><img src="{{project.imageUrl}}" alt="awesome"/></figure>
        </div>
        <div class="card-content">
          <div class="media-left">
            <p class="subtitle">{{ project.subtitle }}</p>
            <p><i class="fa fa-rocket"></i> &nbsp;<a href="{{ project.links.deployed.url }}">{{ project.links.deployed.name }}</a></p>
            <p><i class="fa fa-github"></i> &nbsp;<a href="{{ project.links.source.url }}">{{ project.links.source.name }}</a></p>
          </div>
          <div class="content"> 
            <p>{{ project.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>