
<section id="section-projects" class="section">
  <div class="container">
    <div class="heading">
      <h1 class="title">Projects</h1>
      <h2 class="subtitle">What I've been working on</h2>
    </div>
    <div class="columns">
      <div class="column"> 
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3"><img src="https://placebear.com/300/225" alt="awesome"/></figure>
          </div>
          <div class="card-content">
            <div class="media-left">
              <p class="title">gEats</p>
              <p><i class="fa fa-rocket"></i> deployed</p>
              <p><i class="fa fa-github"></i> source</p>
            </div>
            <div class="content"> 
              <p class="subtitle">it's about bears</p>Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon azuki bean garlic.
            </div>
          </div>
        </div>
      </div>
      <div class="column"> 
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3"><img src="https://placebear.com/300/225" alt="awesome"/></figure>
          </div>
          <div class="card-content">
            <div class="media-left">
              <p class="title">portfolio and resume</p>
              <p><i class="fa fa-rocket"></i> deployed</p>
              <p><i class="fa fa-github"></i> source</p>
            </div>
            <div class="content"> 
              <p class="subtitle">it's about bears</p>Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon azuki bean garlic.
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3"><img src="https://placebear.com/300/225" alt="awesome"/></figure>
          </div>
          <div class="card-content">
            <div class="media-left">
              <p class="title">FUCKING BEARS</p>
              <p><i class="fa fa-rocket"></i> deployed</p>
              <p><i class="fa fa-github"></i> source</p>
            </div>
            <div class="content"> 
              <p class="subtitle">it's about bears</p>Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon azuki bean garlic.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column"> 
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3"><img src="https://placebear.com/300/225" alt="awesome"/></figure>
          </div>
          <div class="card-content">
            <div class="media-left">
              <p class="title">poop already</p>
              <p><i class="fa fa-rocket"></i> deployed</p>
              <p><i class="fa fa-github"></i> source</p>
            </div>
            <div class="content"> 
              <p class="subtitle">it's about bears</p>Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon azuki bean garlic.
            </div>
          </div>
        </div>
      </div>
      <div class="column is-half"> 
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3"><img src="https://placebear.com/300/225" alt="awesome"/></figure>
          </div>
          <div class="card-content">
            <div class="media-left">
              <p class="title">smiley snake</p>
              <p><i class="fa fa-rocket"></i> deployed</p>
              <p><i class="fa fa-github"></i> source</p>
            </div>
            <div class="content"> 
              <p class="subtitle">it's about bears</p>Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon azuki bean garlic.
            </div>
          </div>
        </div>
      </div>
      <div class="column"> 
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3"><img src="https://placebear.com/300/225" alt="awesome"/></figure>
          </div>
          <div class="card-content">
            <div class="media-left">
              <p class="title">mean tea</p>
              <p><i class="fa fa-rocket"></i> deployed</p>
              <p><i class="fa fa-github"></i> source</p>
            </div>
            <div class="content"> 
              <p class="subtitle">it's about bears</p>Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon azuki bean garlic.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-half"> 
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3"><img src="https://placebear.com/300/225" alt="awesome"/></figure>
          </div>
          <div class="card-content">
            <div class="media-left">
              <p class="title">yoga</p>
              <p><i class="fa fa-rocket"></i> deployed</p>
              <p><i class="fa fa-github"></i> source</p>
            </div>
            <div class="content"> 
              <p class="subtitle">it's about bears</p>Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon azuki bean garlic.
            </div>
          </div>
        </div>
      </div>
      <div class="column"> 
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3"><img src="https://placebear.com/300/225" alt="awesome"/></figure>
          </div>
          <div class="card-content">
            <div class="media-left">
              <p class="title">quoteIt</p>
              <p><i class="fa fa-rocket"></i> deployed</p>
              <p><i class="fa fa-github"></i> source</p>
            </div>
            <div class="content"> 
              <p class="subtitle">it's about bears</p>Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon azuki bean garlic.
            </div>
          </div>
        </div>
      </div>
      <div class="column"> 
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3"><img src="https://placebear.com/300/225" alt="awesome"/></figure>
          </div>
          <div class="card-content">
            <div class="media-left">
              <p class="title">zamenboto slackbot</p>
              <p><i class="fa fa-rocket"></i> deployed</p>
              <p><i class="fa fa-github"></i> source</p>
            </div>
            <div class="content"> 
              <p class="subtitle">it's about bears</p>Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon azuki bean garlic.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>