
<section id="section-resume" class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-quarter">
        <h2 class="title"><i class="fa fa-tasks left"></i> SKILLS</h2>
        <ul ng-repeat="s in resume.skills"> <strong>{{ s.name }} </strong>
          <li ng-repeat="k in s.keywords">{{ k }}</li>
        </ul>
      </div>
      <div class="column">
        <div class="heading">
          <div class="container">
            <h1 class="title">{{ resume.basics.name }}</h1>
            <h1 class="subtitle">{{ resume.basics.label }}</h1>
          </div>
        </div>
        <div class="columns">
          <div class="column is-half">
            <ul>
              <li><i class="fa fa-envelope"></i> <a href="mailto:{{ resume.basics.email }}">{{ resume.basics.email }}</a></li>
              <li><i class="fa fa-phone"></i> <a href="tel:{{ resume.basics.phone }}">{{ resume.basics.phone | cb_phonenumber }}</a></li>
              <li><i class="fa fa-map-marker"></i> <a href="https://www.google.com/maps/@{{ resume.basics.location.latitude }},{{ resume.basics.location.longitude }},16z">{{ resume.basics.location.city }} {{ resume.basics.location.postalCode }}</a></li>
            </ul>
          </div>
          <div class="column is-half">
            <ul>
              <li ng-repeat="p in resume.basics.profiles"><i class="fa fa-{{p.network}}">&nbsp;</i><a href="{{p.url}}">/{{p.username}}</a></li>
            </ul>
          </div>
        </div>
        <div class="columns">
          <div class="column container">
            <h2 class="title"><i class="fa fa-user left"></i> ABOUT</h2>
            <p>{{ resume.basics.summary }}</p>
          </div>
        </div>
        <div class="columns">
          <div class="column container">
            <h2 class="title"><i class="fa fa-suitcase left"></i> WORK EXPERIENCE</h2>
            <div ng-repeat="w in resume.work" class="content">
              <div class="title">{{ w.position }}, {{ w.company }} </div>
              <div class="subtitle">{{ w.startDate | date:'MMMM yyyy' }} - {{ w.endDate | date:'MMMM yyyy' }}</div>
              <p class="content">{{ w.summary }}</p>
              <li ng-repeat="h in w.highlights">{{ h }}</li>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column container">
            <h2 class="title"><i class="fa fa-graduation-cap left"></i> EDUCATION</h2>
            <div ng-repeat="e in resume.education" class="content">
              <div class="title">{{ e.studyType }}, {{ e.institution }} </div>
              <div class="subtitle">{{ e.startDate | date:'MMMM yyyy' }} - {{ e.endDate | date:'MMMM yyyy' }}</div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column container">
            <h2 class="title"><i class="fa fa-child left"></i> VOLUNTEER WORK</h2>
            <div ng-repeat="v in resume.volunteer" class="content">
              <div class="title">{{ v.position }}, {{ v.organization }} </div>
              <div class="subtitle">{{ v.startDate | date:'MMMM yyyy' }} - {{ v.endDate | date:'MMMM yyyy' }}</div>
              <p class="content">{{ v.summary }}</p>
              <li ng-repeat="h in v.highlights">{{ h }}</li>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column container">
            <h2 class="title"><i class="fa fa-trophy left"></i> AWARDS</h2>
            <div ng-repeat="a in resume.awards" class="content">
              <div class="title">{{ a.title }}, {{ a.awarder }} </div>
              <div class="subtitle">{{ a.date | date:'MMMM yyyy' }}</div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column container">
            <h2 class="title"><i class="fa fa-star left"></i> INTERESTS</h2>
            <div ng-repeat="i in resume.interests" class="content">
              <div class="title">{{ i.name }}</div>
              <li ng-repeat="k in i.keywords">{{ k }} </li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>