
<section id="section-resume" class="section">
  <div class="container">
    <div class="heading">
      <h1 class="title">{{ resume.basics.name }}</h1>
      <h1 class="subtitle">{{ resume.basics.label }}</h1>
    </div>
    <div class="columns">
      <div class="column is-half">
        <li> <i class="fa fa-envelope left"></i>{{ resume.basics.email }}</li>
        <li><i class="fa fa-phone left"></i>{{ resume.basics.phone }}</li>
        <li><i class="fa fa-map-marker left"></i>{{ resume.basics.location.city }} {{ resume.basics.location.postalCode }}</li>
      </div>
      <div class="column is-half">
        <li ng-repeat="p in resume.basics.profiles"><i class="fa left fa-{{p.network}}"></i><a href="{{p.url}}">/{{p.username}}</a></li>
      </div>
    </div>
    <div class="columns">
      <div class="column is-quarter">
        <h2 class="title">Skills</h2>
        <h3 ng-repeat="s in resume.skills">{{ s.name }} 
          <li ng-repeat="k in s.keywords">{{ k }}</li>
        </h3>
      </div>
      <div class="column content">
        <p>{{ resume.basics.summary }}</p>
      </div>
    </div>
  </div>
</section>