mixin card(title)
  .card
    .card-image
      figure.image.is-4by3
        img(src='https://placebear.com/300/225' alt='awesome')
    .card-content
      .media-left
        p.title= title
        p #[i.fa.fa-rocket] deployed
        p #[i.fa.fa-github] source
      .content 
        p.subtitle it's about bears
        | Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon azuki bean garlic.
