html(ng-app='chrisbrown')
  head
    title Chris Brown! Wins all the shoes
    include includes/styleblock
    meta(name='viewport', content='width=device-width, initial-scale=1')

  body(ng-controller='HomeController')
    include includes/navbar

    ng-view

    include includes/footer

    include includes/scriptblock
