html(ng-app='chrisbrown')
  head
    title Chris Brown! wins all the shoes
    include includes/styleblock

  body(ng-controller='HomeController')
    include includes/navbar

    ng-view

    include includes/footer

    include includes/scriptblock
