//- vendor scripts
script(type='text/javascript', src='scripts/angular.min.js')
script(type='text/javascript', src='scripts/angular-route.min.js')
//- my own scrips
script(type='text/javascript', src='scripts/app.js')
script(type='text/javascript', src='scripts/services/portfolioservice.js')
script(type='text/javascript', src='scripts/controllers/homecontroller.js')
script(type='text/javascript', src='scripts/controllers/portfoliocontroller.js')
