section.hero.is-large
  .hero-content
    .container
      h1.title chris brown
      h2.subtitle Let's make stuff
      p Good code gives us novel ways to phrase the stories we tell ourselves. 
      p The stories we tell ourselves bring us together.
      p Let's write good code and tell good stories.
      p Let's make stuff.
