include ../mixins/card

section#section-projects.section
  .container
    .heading
      h1.title Projects
      h2.subtitle What I've been working on
    .columns
      .column 
        +card('gEats')
      .column 
        +card('portfolio and resume')
      .column
        +card('FUCKING BEARS')
    .columns
      .column 
        +card('poop already')
      .column.is-half 
        +card('smiley snake')
      .column 
        +card('mean tea')
    .columns
      .column.is-half 
        +card('yoga')
      .column 
        +card('quoteIt')
      .column 
        +card('zamenboto slackbot')
