section#section-projects.section
  .container
    .heading
      h1.title Projects
      h2.subtitle What I've been working on
    .columns
      .column gEats
      .column portfolio and resume
    .columns
      .column poop already
      .column.is-half smiley snake
      .column mean tea
    .columns
      .column.is-half yoga
      .column quoteIt
      .column zamenboto slackbot
