section#section-projects.section

  .container
    .heading
      h1.title Projects
      h1.subtitle What I've been working on
    .columns
      .column
        span Restrict to keyword
        select(ng-model='search_by.categories')
          option
          option(ng-repeat='k in keywords') {{ k }}
        span Search in description
        input(type='text' ng-model='search_by.description')
        span Sort by date
          select(ng-model='freshness')
            option
            option(value='-date') Newest
            option(value='date') Oldest

    .columns
      .column(ng-repeat='project in portfolio | filter:search_by | orderBy:freshness')
        .card-content
          .media-left
            p.title {{ project.title }}
        .card-image
          figure.image.is-4by3
            img(src='{{project.imageUrl}}' alt='awesome')
        .card-content
          .media-left
            p.subtitle {{ project.subtitle }}
            p #[i.fa.fa-rocket] &nbsp;
              a(href='{{ project.links.deployed.url }}') {{ project.links.deployed.name }}
            p #[i.fa.fa-github] &nbsp;
              a(href='{{ project.links.source.url }}') {{ project.links.source.name }}
          .content 
            p {{ project.description }}
