section#section-resume.section

  .container
    .columns
      .column.is-quarter

        //- SKILLZ -//
        h2.title #[i.fa.fa-tasks.left] SKILLS
        ul(ng-repeat='s in resume.skills') 
          strong {{ s.name }} 
          li(ng-repeat='k in s.keywords') {{ k }}

      .column
        .heading
          .container
            h1.title {{ resume.basics.name }}
            h1.subtitle {{ resume.basics.label }}

        .columns
          .column.is-half

            //- CONTACT -//
            ul
              li #[i.fa.fa-envelope] 
                a(href='mailto:{{ resume.basics.email }}') {{ resume.basics.email }}
              li #[i.fa.fa-phone] 
                a(href='tel:{{ resume.basics.phone }}') {{ resume.basics.phone | cb_phonenumber }}
              li #[i.fa.fa-map-marker] 
                a(href='https://www.google.com/maps/@{{ resume.basics.location.latitude }},{{ resume.basics.location.longitude }},16z') {{ resume.basics.location.city }} {{ resume.basics.location.postalCode }}

          .column.is-half

            //- SOCIAL MEDIA -//
            ul
              li(ng-repeat='p in resume.basics.profiles')
                i.fa(class='fa-{{p.network}}') &nbsp;
                a(href='{{p.url}}') /{{p.username}}
        
        //- SUMMARY -//
        .columns
          .column.container
            h2.title #[i.fa.fa-user.left] ABOUT
            p {{ resume.basics.summary }}

        //- WORK EXPERIANCE -//
        .columns
          .column.container
            h2.title #[i.fa.fa-suitcase.left] WORK EXPERIENCE
            .content(ng-repeat='w in resume.work')
              .title {{ w.position }}, {{ w.company }} 
              .subtitle {{ w.startDate | date:'MMMM yyyy' }} - {{ w.endDate | date:'MMMM yyyy' }}
              p.content {{ w.summary }}
              li(ng-repeat='h in w.highlights') {{ h }}

        //- EDUCATION -//
        .columns
          .column.container
            h2.title #[i.fa.fa-graduation-cap.left] EDUCATION
            .content(ng-repeat='e in resume.education')
              .title {{ e.studyType }}, {{ e.institution }} 
              .subtitle {{ e.startDate | date:'MMMM yyyy' }} - {{ e.endDate | date:'MMMM yyyy' }}

        //- VOLUNTEER -//
        .columns
          .column.container
            h2.title #[i.fa.fa-child.left] VOLUNTEER WORK
            .content(ng-repeat='v in resume.volunteer')
              .title {{ v.position }}, {{ v.organization }} 
              .subtitle {{ v.startDate | date:'MMMM yyyy' }} - {{ v.endDate | date:'MMMM yyyy' }}
              p.content {{ v.summary }}
              li(ng-repeat='h in v.highlights') {{ h }}

        //- AWARDS -//
        .columns
          .column.container
            h2.title #[i.fa.fa-trophy.left] AWARDS
            .content(ng-repeat='a in resume.awards')
              .title {{ a.title }}, {{ a.awarder }} 
              .subtitle {{ a.date | date:'MMMM yyyy' }}

        //- INTERESTS -//
        .columns
          .column.container
            h2.title #[i.fa.fa-star.left] INTERESTS
            .content(ng-repeat='i in resume.interests')
              .title {{ i.name }}
              li(ng-repeat='k in i.keywords') {{ k }} 
        
