body {
  background-image: url("/assets/footer_lodyas.png"); }

figure img {
  border: 1px solid #999; }

#section-home,
#section-resume,
#section-projects,
#section-contact {
  background-image: url("/assets/light_toast.png"); }
